<!DOCTYPE html>
<html>

<head>
    <title>Contacts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <nav class="w-[50%] m-auto mt-[-2%] text-2xl flex justify-between">
        <a class="border p-3 bg-zinc-200 rounded-full hover:bg-zinc-400" href="/">Home</a>
        <a class="border p-3 bg-zinc-200 rounded-full hover:bg-zinc-400" href="/register">Register</a>
        <a class="border p-3 bg-zinc-200 rounded-full hover:bg-zinc-400" href="/contacts">Contacts</a>
        <a class="border p-3 bg-zinc-200 rounded-full hover:bg-zinc-400" href="/profile">Profile</a>
    </nav>